@font-face {
  font-family: 'Optima';
  src: url('/fonts/Optima Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Optima';
  src: url('/fonts/OPTIMA.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Optima';
  src: url('/fonts/OPTIMA_B.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Optima';
  src: url('/fonts/Optima_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}