@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .admin-tool-button img {
    width: 52px;
    height: 52px;
    object-fit: contain;
  }
}

@media (max-width: 400px) {
  .admin-tool-button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}